extends ../layout

block content
  if error
    p(class="error", style="color:red;")= error
  div(class="candidates-container")
    if staffMembers
      a(href='/staff/new', class="new-candidate-button") Nuevo Miembro del Personal
      table(class="candidates-table")
        thead
          tr
            th ID del Personal
            th Email
            th Nombre
            th Apellido
            th Rol
            th Fecha de Contratación
            th Estado
            
        tbody
          each staffMember in staffMembers
            tr
              td= staffMember.idStaff
              td= staffMember.email
              td= staffMember.name
              td= staffMember.lastName
              td= staffMember.rol
              td= staffMember.hiringDate
              td= staffMember.status ? 'Activo' : 'Inactivo'
             
