extends ../layout

block content
  if error
    p(class="error", style="color:red;")= error
  div(class="candidates-container")
  
    if staff
      a(href='/staff/new', class="new-candidate-button") Nuevo voluntario
      table(class="candidates-table")
        thead
          tr
            th Email
            th Nombre
            th Apellido
            th Rol
            th Fecha de inicio
            th Estado
            th Id
            th Acciones
        tbody
          each s in staff
            tr
              td= s.email
              td= s.name
              td= s.lastName
              td= s.rol
              td= s.hiringDate
              td= s.status
              td= s.idStaff
              td.actionButtons
                a(href='/staff/'+s.idStaff+'/edit')
                  img.actionIcon(src='/images/editIcon.png' alt='Editar')
                a(href='/staff/'+s.idStaff+'/delete')
                  img.actionIcon(src='/images/deleteIcon.png' alt='Borrar')

              
            
