extends ../layout

block content
  if error
    p(class="error", style="color:red;")= error
  div(class="candidates-container")
    
    if candidates
      a(href='/candidates/new', class="new-candidate-button") Nuevo Candidato
      table(class="candidates-table")
        thead
          tr
            th Nombre
            th Apellido
            th DNI
            th Año de Nacimiento
            th Comentarios
            th Validado
            th Ciudad
            th Tipo de Vivienda
            th Acciones
        tbody
          each candidate in candidates
            tr
              td= candidate.name
              td= candidate.lastName
              td= candidate.dni
              td= candidate.yearOfBirth
              td= candidate.comments
              td= candidate.validated
              td= candidate.city
              td= candidate.typeOfHousing.TypeOfHousing
              td
                a(href='/candidates/'+candidate.idCandidate+'/edit') Editar
                |
                a(href='/candidates/'+candidate.idCandidate+'/delete') Eliminar
