extends ../layout

block content
    h1 Nuevo Candidato
    if error
        h2= error
    form(action="/candidates", method="post")
        label(for="name") Nombre
        input(type="text", name="name", id="name", value=candidate.name)
        label(for="lastName") Apellido
        input(type="text", name="lastName", id="lastName", value=candidate.lastName)
        label(for="dni") DNI
        input(type="text", name="dni", id="dni", value=candidate.dni)
        label(for="yearOfBirth") Año de Nacimiento
        input(type="text", name="yearOfBirth", id="yearOfBirth", value=candidate.yearOfBirth)
        label(for="comments") Comentarios
        input(type="text", name="comments", id="comments", value=candidate.comments)
        label(for="validated") Validado
        input(type="text", name="validated", id="validated", value=candidate.validated)
        label(for="city") Ciudad
        input(type="text", name="city", id="city", value=candidate.city)
        label(for="idTypeOfHousing") Tipo de Vivienda
        select(name="idTypeOfHousing", id="idTypeOfHousing")
            each typeOfHousing in typesOfHousing
                option(value=typeOfHousing.idTypeOfHousing)= typeOfHousing.TypeOfHousing
        input(type="submit", value="Crear")

        
       
        
