extends ../layout

block content
  if error
    p(class="error", style="color:red;")= error
  div(class="candidates-container")
    
  section(class="filter-form")
  form.search-form(action="/dogs" method="get")
    .form-group-search
      label(for="idDog") ID
      input(type="text", name="idDog", id="idDog", class="input-field")
    .form-group-search
      label(for="name") Nombre
      input(type="text", name="name", id="name", class="input-field")
    .form-group-search
      label(for="size") Tama単o
      input(type="text", name="size", id="size", class="input-field")
    .form-group-search
      label(for="yearOfBirth") A単o
      input(type="text", name="yearOfBirth", id="yearOfBirth", class="input-field")
    .form-group-search
      label(for="breed") Raza
      input(type="text", name="breed", id="breed", class="input-field")
    .form-group-search
      button(type="submit", value="search", class="btn-primary") Buscar
  
  a(href='/dogs/new', class="new-candidate-button") Nuevo Perro

  section(class="searchResults")
    if dogs
      table(class="candidates-table")
        thead
          tr
            th Nombre
            th Color
            th Tama単o
            th Foto
            th Comportamiento
            th A単o
            th Comentarios
            th Raza
            th Acciones
        tbody
          each dog in dogs
            tr
              td= dog.name
              td= dog.color
              td= dog.size
              td.dogPhotoMiniContainer
                if dog.photo != null
                  img(class="dogPhotoMini", src=dog.photo, alt="Foto del perro")
                else
                  img(class="dogPhotoMini", src="/images/dogs/nophoto.png", alt="Foto del perro")
              td= dog.behavior
              td= dog.yearOfBirth
              td= dog.comments
              td= dog.breed.name
              td.actionButtons
                a(href='/dogs/'+dog.idDog+'/edit')
                  img.actionIcon(src='/images/editIcon.png' alt='Editar')
                a(href='/dogs/'+dog.idDog+'/delete')
                  img.actionIcon(src='/images/deleteIcon.png' alt='Borrar')
